billboard.py==7.0.0
feedparser==6.0.10
ffmpy==0.3.0
itunespy==1.6.0
mock==4.0.3
musicbrainzngs==0.7.1
nltk==3.7
numpy==1.22.4
pandas==1.4.4
podcastparser==0.6.9
pydub==0.25.1
requests==2.28.1
TTS==0.10.0
ytmdl==2022.3.16
