billboard.py==7.0.0
eyed3==0.9.7
feedparser==6.0.10
ffmpy==0.3.0
itunespy==1.6.0
matplotlib>=3.7.0
mock==4.0.3
musicbrainzngs==0.7.1
nltk==3.7
numpy>=1.20
pandas==1.4.4
Pillow==9.5.0
podcastparser==0.6.9
pydub==0.25.1
pydantic-core==2.23.3
randimage==1.2
requests==2.28.1
spacy==3.7.5
TTS>=0.21.0
yt_dlp==2023.3.4
ytmdl==2022.3.16
